<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#events_help">Уведомления</a>
		</div>
		<div class="panel-body collapse" id="events_help">
        <p>
        В настроках уведомлений указывается скрипт который будет вызван после выполения бекапа.</br>
        В скрипт перадаются параметры:</br>
        <ul>
            <li>STATE - результат выполнения бекапа (значения = Ok,Error)</li>
            <li>DESCRIPTION - описание результата выполнения бекапа (текст ошибки)</li>
        </ul>
        </p>
		</div>
	</div>
</div>